:root {
  --base03: #002b36;
  --base02: #073642;
  --base01: #586e75;
  --base00: #657b83;
  --base0: #839496;
  --base1: #93a1a1;
  --base2: #eee8d5;
  --base3: #fdf6e3;
  --yellow: #b58900;
  --orange: #cb4b16;
  --red: #dc322f;
  --magenta: #d33682;
  --violet: #6c71c4;
  --blue: #268bd2;
  --cyan: #2aa198;
  --green: #859900;

  background-color: var(--base3);
  color: var(--base01);
  font-family: "Times New Roman", Times, serif;
}

body {
  padding-top: 30px;
}

input {
  background-color: var(--base3);
  color: var(--base02);
  width: 100%;
  margin-bottom: 10px;
  padding: 5px;
  accent-color: var(--blue);
}

input[type="number"] {
  width: 100px;
}

#inputs {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

section {
  display: flex;
  flex-direction: column;
  min-width: 300px;
  max-width: 400px;
  margin: 10px 20px;
  padding: 30px;
  border-radius: 5px;
  background-color: var(--base2);
  border: 2px solid var(--base01);
}

label {
  font-weight: bold;
  margin-bottom: 5px;
}

.slider-values {
  display: flex;
  justify-content: space-between;
  font-size: 0.9rem;
}

.current-value {
  font-weight: bold;
}

#dashboard {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

table {
  border-collapse: collapse;
  color: var(--base02);
  font-size: large;
}
table td,
table th {
  border: 1px solid var(--base00);
  padding: 10px;
}
table tr:nth-child(even) {
  background-color: var(--base2);
}
table th {
  padding-top: 12px;
  padding-bottom: 12px;
}

#help-bar {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background: var(--base2);
  color: var(--base02);
  padding: 10px;
  font-weight: bold;
  border-bottom: 1px solid var(--base03);
}

button {
  font-family: inherit;
  font-size: inherit;
  background-color: var(--base3);
  color: var(--base02);
  padding: 5px;
  margin-top: 10px;
}
