:root {
  --light: #fbf1c7;
  --light1: #ebdbb2;
  --light2: #d5c4a1;
  --light3: #bdae93;
  --light4: #a89984;
  --dark: #282828;
  --dark1: #3c3836;
  --dark2: #504945;
  --dark3: #665c54;
  --dark4: #7c6f64;
  --red: #fb4934;
  --green: #b8bb26;
  --yellow: #fabd2f;
  --blue: #83a598;
  --purple: #d3869b;
  --aqua: #8ec07c;
  --orange: #fe8019;

  background-color: var(--light);
  color: var(--dark);
}

input {
  background-color: var(--light1);
  color: var(--blue);
}

input::placeholder {
  color: var(--dark4);
}
