:root {
  --base03: #002b36;
  --base02: #073642;
  --base01: #586e75;
  --base00: #657b83;
  --base0: #839496;
  --base1: #93a1a1;
  --base2: #eee8d5;
  --base3: #fdf6e3;
  --yellow: #b58900;
  --orange: #cb4b16;
  --red: #dc322f;
  --magenta: #d33682;
  --violet: #6c71c4;
  --blue: #268bd2;
  --cyan: #2aa198;
  --green: #859900;

  background-color: var(--base3);
  color: var(--base01);
  font-family: "Times New Roman", Times, serif;
}

input {
  background-color: var(--base3);
  color: var(--base02);
  width: 100%;
  margin-bottom: 10px;
  padding: 5px;
  accent-color: var(--blue);
}

input[type="number"] {
  width: 100px;
}

#inputs {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border: 2px solid var(--base01);
  padding: 10px;
  border-radius: 5px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  background-color: var(--base2);
}

#simulate {
  background-color: var(--base01);
  color: var(--base3);
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: block;
  font-size: 16px;
  margin: 50px auto 0;
  transition-duration: 0.4s;
  cursor: pointer;
  font-family: "Times New Roman", Times, serif;
}

#simulate:hover {
  background-color: var(--cyan);
}

@keyframes dance {
  0% {
    transform: translateY(0) rotate(0deg);
  }
  100% {
    transform: translateY(0) rotate(360deg);
  }
}

.dance {
  animation: dance 0.5s ease;
}

section {
  display: flex;
  flex-direction: column;
  flex: 1;
  margin: 0 10px;
}

label {
  font-weight: bold;
  margin-bottom: 5px;
}

.slider-values {
  display: flex;
  justify-content: space-between;
  font-size: 0.9rem;
}

.current-value {
  font-weight: bold;
}

#dashboard {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

/*#dashboard > svg {
  flex: 0 0 50%;
  margin-bottom: 20px;
}*/